.main_card
{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    background-color: rgb(24, 24, 24);
    height: 8.5rem;
    border-radius: 20px;
}

.priority-button {
    margin-right: 10px;
    height: 20px;
    width: 60px;
    margin-top: 2px;
    color: white; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    font-size: 14px; 
    transition: background-color 0.3s ease; 
  }
  
  .priority-button.high {
    background-color: red; 
  }
  
  .priority-button.medium {
    background-color: orange; 
  }
  
  .priority-button.low {
    background-color: green; 
  }
  
  .priority-button:hover:not(:disabled) {
    opacity: 0.9; 
  }
  
  .priority-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    box-shadow: none;
  }
  
  /* buttom image styling code  */

  .image-button {
    background: none; 
    border: none;
    padding: 0; 
    margin-top: 1rem;
    cursor: pointer; 
    display: inline-flex; 
    align-items: center;
    justify-content: center;
  }
  
  .image-button img {
    height: 1.5rem; 
    width: 1.5rem; 
  }
  

  /* description button styling */

  .descbutton {
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
    height: 1.5rem; 
    padding: 0 20px; 
    font-size: 10px; 
    font-weight: bold; 
    background: linear-gradient(145deg, #f0f0f0, #dcdcdc);
    color: #333;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  
  .descbutton:hover {
    background: linear-gradient(145deg, #dcdcdc, #f0f0f0); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
  }
  
  .descbutton:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  }
  
  .descbutton:focus {
    outline: none; 
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  }
  
  .descbutton i {
    margin-right: 8px; 
    font-size: 1.2rem; 
  }
  